* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(207, 225, 172);
}

/* chinh giao dien tren dt  */
@media (max-width: 1200px) {
    .header {
        gap: 10px;
        margin-left: 5%;
        width: 100%;
    }

    .header-logo img {
        margin-left: 10%;
    }

    .banner p {
        font-weight: bold;
        font-size: 30px;
    }

    .container-fluid {
        align-items: center;
    }

    .banner button {
        position: relative;
        right: 20%;

    }
}



/* ----------- phan header -------- */
.container-fluid {
    padding: 2%;
    align-items: center;


}

.header {
    align-items: center;

}

.header-logo img {
    width: 60%;
    border: 5px solid black;
    border-radius: 30px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 20px;
    color: green;

}

.header-menu a {
    color: rgb(181, 10, 10);
    background-color: rgb(139, 250, 139);
    padding: 10px;
    border: 2px solid black;
}

.header-hotline {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 10px;
    padding-left: 8%;
}

.header-hotline img {
    width: 20%;

}

.header-hotline p {
    color: red;
    font-weight: bold;
    margin: 0 auto;

}

/*--------- phan than trang -------- */

/* banner  */
.banner img {
    height: 70%;
    width: 100%
}

.banner p {
    font-weight: bold;
    font-size: 30px;
}

.banner button {
    margin-top: 2%;
    background-color: blue;
    color: white;
    font-size: 40px;
    padding: 10px;
    height: 100px;
    width: 300px;
    margin-left: 40%;
    border: 5px solid rgb(244, 11, 11);

}

/* gioi thieu  */
.gioithieu-nhathotacsay {
    border: 2px solid black;
}

.gioithieu-anh img {
    width: 100%;
}

.gioithieu h2 {
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

/* phan loai phong  */
.banggia {
    align-items: center;
    text-align: center;
}

.banggia h2 {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 50px;
}

.banggia h3 {
    font-weight: bold;
}

.banggia img {
    border-radius: 80px;
    width: 80%;
}

.banggia-5 img {
    height: 519px;
}

/* phan danh gia  */
.danhgiachung {
    text-align: center;
    align-items: center;

}

.danhgiachung h2 {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 50px;

}

.danhgiachung img {

    width: 100%;
}

.anhdg {
    border: 2px solid black;
}

.bando {
    text-align: center;
    align-items: center;
}

.bando h2 {
    color: blue;
    font-weight: bold;
    font-size: 50px;
}

/* ----------phan chan trang ----------- */
.foot {
    background-color: rgb(199, 230, 222);
    border-radius: 10px;
    border: 5px solid black;
}

.content-foot {
    text-align: center;
    padding: 5px;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

.foot p {
    text-align: center;
    color: blue;
}

.content-foot h3 {
    padding-bottom: 10px;
    font-size: 30px;
}